* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro', 'NanumSquare', sans-serif;
}
button {
    all: unset;
    box-sizing: border-box;
    background-color: #8fc0d8;
    box-shadow: 2px 2px #8f8f8f;
    font-weight: bold;
    padding: 0.35rem 0.55rem;
    margin: 0 0.4rem;
    border-radius: 6px;
    font-size: 0.7rem;
}
button:hover {
    cursor: pointer;
    background-color: #8bb8ce;
}
button:active {
    transform: translate(1px, 1px);
    box-shadow: none;
}
button.startBtn {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
}
button.nextBtn, button.endBtn {
    margin-left: 2rem;
}
input {
    color: black;
    border: 0;
    border-bottom: 2px solid #8f8f8f;
    transition: border, 0.25s;
    padding: 0.35rem 0.2rem;
    margin: 0.85rem 0.2rem;
    font-size: 0.7rem;
    font-family: inherit;
}
input:focus {
    outline: none;
    border-bottom-color: black;
}
section.question {
    font-weight: bold;
    padding-left: 0.2rem;
}
section.resultSec, section.endSec {
    display: flex;
    align-items: center;
}
section.resultSec > section, section.endResult {
    padding-right: 2rem;
    border-right: 2px solid black;
}
section.result {
    font-size: 1.3rem;
    font-weight: bold;
}
section.answer::before {
    content: "정답 : ";
    font-style: normal;
}
section.answer {
    font-size: 0.9rem;
    font-style: italic;
}
section.endResult {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 2rem;
}
section.appSec, section.questSec, section.resultSec, section.endSec {
    display: none;
}
@media (min-width: 650px) {
    html {
        font-size: 2rem;
    }
    input {
        width: 11rem;
    }
}
@media (max-width: 650px) {
    input, input:focus {
        width: 7rem;
        border-bottom-width: 1px;
    }
}
@media (max-width: 400px) {
    input {
        width: 6rem;
    }
}
